/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Définition des variables de couleurs globales */
:root {
    --couleur-principale: #6B0D0D;
    --fond-page: #F5EDE1;
    --couleur-texte: #2E2E2E;
    --nav-li-fond: #C4A77D;
    --nav-li-fond-hover:#e9cda3;
    --couleur-text-bordeaux: #FFD8B7;
    --couleur-fond-section: #E0E0E0;
    --couleur-formation1: #A7C7E7;
    --couleur-formation2: #A8E6CF;
    --couleur-formation3: #FFF4A3;
    --couleur-formation4: #FFB6A3;
    --couleur-formation5: #C8A2C8;

    --h1: 40px;
    --h2: 23px;
    --h3: 15px;
    --h4: 10px;

    --text-nav: 25px;
    --text-p: 10px;

    --gap-nav: 50px;
    --gap-medium: 20px; 
    --gap-small: 13px;

    --nav-pad-heigh: 30px;
    --nav-li-pad: 6px;
    --nav-min-width: 200px;

    --section-padding: 40px;
    --section-margin-top: 180px;
    --section-margin-left: 100px;

    --ombres-section: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* BARRE NAVIGATION */
h1 {
    color: var(--couleur-text-bordeaux);
    font-size: var(--h1);
    white-space: nowrap;
    position: absolute;
    left: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    top:0;
    background-color: var(--couleur-principale);
    box-shadow: var(--ombres-section);
    padding: var(--nav-pad-heigh) 1vw var(--nav-pad-heigh) 1vw;
}

nav ul {
    display: flex;
    gap: 0.5vw;
}

nav a {
    display: inline-block;
    font-weight: bold;
    color: var(--couleur-texte);
    text-decoration: none;
}

nav a:hover{
    background-color: var(--nav-li-fond-hover);
    transform: scale(1.05);
    transform-origin: center;
}

nav li a{ 
    background-color: var(--nav-li-fond);
    padding: var(--nav-li-pad);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: var(--text-nav);
    gap: 10px;
    min-width: var(--nav-min-width);
}

nav i {
    color: var(--couleur-texte);
}

@media(max-width: 1528px) {
    :root {
        --text-nav: 20px;
        --nav-min-width: 165px;
        --h1: 30px;
        --nav-pad-heigh: 25px;
    }   
}

@media(max-width: 1240px) {
    :root {
        --text-nav: 15px;
        --nav-min-width: 132px;
        --h1: 25px;
        --nav-pad-heigh: 20px;
        --section-margin-top: 140px;
    }   
}

@media(max-width: 1010px) {

    :root {
        --section-margin-top: 105px;
        --section-margin-left: 0px;
        --section-padding: 25px;
    }
    label {
        display: block;
    }

        /* Style de base du menu */
    .menu-icon {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        margin-left: clamp(10px, 1.5vw, 30px);
    }

    .menu-icon span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--couleur-text-bordeaux);
        transition: 0.3s;
    }


    #menu-toggle:checked ~ ul {
        left: 0;
    }
    
    /* Afficher le menu lorsque la case est cochée */
    #menu-toggle:checked + label + .menu {
        display: block;
    }

    /* Animation du bouton hamburger en croix */
    #menu-toggle:checked + label .menu-icon span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    #menu-toggle:checked + label .menu-icon span:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked + label .menu-icon span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

    h1 {
        position: static;
        text-align: center;
        margin: auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        position: absolute;
        left: -100%;
        top: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
        transition: left 0.3s;
    }

    nav ul li a {
        border-radius: 0px;
        border: black 1px solid;
    }

    .ColorFoncee {
        background-color: var(--nav-li-fond);    
    }

    .ColorClaire {
        background-color: var(--couleur-text-bordeaux);
    }

    /* SECTION ACCUEIL */
    .section-Accueil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:0px;
    }

    .section-Accueil img{
        margin: auto;
        width: 300px;
        height: 0%;
    }

    .courte-presentation {
        margin: 15px
    };
}

@media(max-width: 400px) {
    :root {
        --h1: 18px;
        --section-padding: 15px;
    }

    .menu-icon span {
        display: block;
        width: 80%;
        height: 3px;
        background-color: var(--couleur-text-bordeaux);
        transition: 0.3s;
    }
}

